.container-form{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #2D4263;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
}

h1{
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

.form-item{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-item input, .form-item  button{
    height: 25px;
    box-shadow: 0 0 5px #000;
    border: 0;
    margin-top:  10px;
    border-radius: 5px;
}

.form-item button{
    background-color: #C84B31;
    color: #fff;
    width: 70%;
    margin: auto;
    margin-top: 30px;
}