body{
    background-color: #191A19;
}

.container-tabla{
    width: 70%;
    margin: auto;
    background-color: #fff;
    justify-self: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
}

ul li{
    list-style: none;
    text-align: start;
}

.container-principal{
    width: 70%;
    margin: auto;
    margin-top: 30px;
    background-color: #2D4263;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
}

.item-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.item-container input{
    width: 70%;
    height: 25px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    border: 0
}

.item-container button{
    width: 50%;
    height: 25px;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
    margin: auto;
    margin-top: 15px;
    border: 0;
    background-color: #C84B31;
}

.container-personajes{
    width: 83%;
    margin: auto;
    color: #fff;
}